{{ $caption := .Get 0 | default (.Get "caption") }}
{{ $content := .Inner }}
{{ $float := .Get "float" }}
{{ $height := .Get "height" }}
{{ $horizontal := .Get "horizontal" }}
{{ $maxheight := .Get "maxheight" }}
{{ $maxwidth := .Get "maxwidth" }}
{{ $number := .Get "number" }}
{{ $numbered := .Get "numbered" }}
{{ $vertical := .Get "vertical" }}
{{ $width := .Get "width" }}

{{ partial "paige/figure.html" (dict
    "caption" $caption
    "content" $content
    "float" $float
    "gap" 2
    "height" $height
    "horizontal" $horizontal
    "maxheight" $maxheight
    "maxwidth" $maxwidth
    "number" $number
    "numbered" $numbered
    "vertical" $vertical
    "width" $width
) }}
