{{ $align := .Get "align" }}
{{ $caption := .Get "caption" | markdownify }}
{{ $content := .Inner | markdownify }}
{{ $float := .Get "float" }}
{{ $height := .Get "height" }}
{{ $justify := .Get "justify" }}
{{ $maxheight := .Get "maxheight" }}
{{ $maxwidth := .Get "maxwidth" }}
{{ $width := .Get "width" }}

{{ $content = printf `<blockquote class="blockquote mb-0">%v</blockquote>` $content }}

{{ partial "paige/figure.html" (dict
    "align" $align
    "caption" $caption
    "content" $content
    "float" $float
    "height" $height
    "justify" $justify
    "maxheight" $maxheight
    "maxwidth" $maxwidth
    "width" $width
) }}
