{{ $authors := partial "paige/func-authors.html" . }}
{{ $class := .Param "paige.about_class" | default "text-center text-secondary" }}
{{ $aboveclass := print "mb-0" " " $class }}

{{ with $authors }}
    <p class="{{ cond ($.PublishDate | not | not) $aboveclass $class }}">{{ . }}</p>
{{ end }}
{{ with .PublishDate }}
    <p class="{{ $class }}">
        <time datetime="{{ .Format `2006-01-02` }}">{{ time.Format (site.Params.paige.date_format | default ":date_long") . }}</time>
    </p>
{{ end }}
