{{ $page := . }}

{{ if $page.Param "paige.analytics.disable" | not }}
    {{ partial "paige/analytics/beam.html" $page }}
    {{ partial "paige/analytics/chartbeat.html" $page }}
    {{ partial "paige/analytics/clarity.html" $page }}
    {{ partial "paige/analytics/clicky.html" $page }}
    {{ partial "paige/analytics/counter.html" $page }}
    {{ partial "paige/analytics/fathom.html" $page }}
    {{ partial "paige/analytics/finteza.html" $page }}
    {{ partial "paige/analytics/google.html" $page }}
    {{ partial "paige/analytics/hotjar.html" $page }}
    {{ partial "paige/analytics/matomo.html" $page }}
    {{ partial "paige/analytics/mixpanel.html" $page }}
    {{ partial "paige/analytics/pirsch.html" $page }}
    {{ partial "paige/analytics/plausible.html" $page }}
    {{ partial "paige/analytics/woopra.html" $page }}
    {{ partial "paige/analytics/yandex.html" $page }}
{{ end }}
