{{ $page := . }}

{{ $disable := $page.Param "paige.comments.disable" }}
{{ $disablekinds := $page.Param "paige.comments.disable_kinds" }}

{{ $enabled := $disable | not }}
{{ $enabledkind := or (not $disablekinds) (not (in $disablekinds $page.Kind)) }}

{{ if and $enabled $enabledkind }}
    {{ template "_internal/disqus.html" $page }}
    {{ partial "paige/comments/cactus.html" $page }}
    {{ partial "paige/comments/commento.html" $page }}
    {{ partial "paige/comments/cusdis.html" $page }}
    {{ partial "paige/comments/graphcomment.html" $page }}
    {{ partial "paige/comments/hyvor.html" $page }}
    {{ partial "paige/comments/intensedebate.html" $page }}
    {{ partial "paige/comments/isso.html" $page }}
    {{ partial "paige/comments/remark42.html" $page }}
    {{ partial "paige/comments/replybox.html" $page }}
    {{ partial "paige/comments/utterances.html" $page }}
{{ end }}
