{{ $align := .align | default "center" }}
{{ $caption := .caption | markdownify }}
{{ $compact := .compact }}
{{ $content := .content | markdownify }}
{{ $float := .float }}
{{ $gap := .gap | default "2" }}
{{ $height := .height }}
{{ $maxheight := .maxheight }}
{{ $maxwidth := .maxwidth }}
{{ $width := .width }}

{{ $bottommargin := true }}

{{ if $compact }}
    {{ $bottommargin = false }}
{{ end }}

{{ $table := false }}

{{ if or $compact $float }}
    {{ $table = true }}
{{ end }}

{{ $style := "" }}

{{ if $height }}
    {{ with printf "height: %v" $height }}
        {{ if $style }}
            {{ $style = printf "%v; %v" $style . }}
        {{ else }}
            {{ $style = . }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if $maxheight }}
    {{ with printf "max-height: %v" $maxheight }}
        {{ if $style }}
            {{ $style = printf "%v; %v" $style . }}
        {{ else }}
            {{ $style = . }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if $maxwidth }}
    {{ with printf "max-width: %v" $maxwidth }}
        {{ if $style }}
            {{ $style = printf "%v; %v" $style . }}
        {{ else }}
            {{ $style = . }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if $width }}
    {{ with printf "width: %v" $width }}
        {{ if $style }}
            {{ $style = printf "%v; %v" $style . }}
        {{ else }}
            {{ $style = . }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $sidemargin := "" }}

{{ if $float }}
    {{ if eq $float "start" }}
        {{ $sidemargin = "me-4" }}
    {{ else if eq $float "end" }}
        {{ $sidemargin = "ms-4" }}
    {{ else }}
        {{ errorf "invalid float: %q" $float }}
    {{ end }}
{{ end }}

<figure class="{{ with $float }} float-{{ . }} {{ $sidemargin }} {{ end }} {{ if not $bottommargin }} mb-0 {{ end }} align-items-{{ $align }} d-flex flex-column justify-content-center paige-figure" {{ if $float }} {{ with $style }} style="{{ . | safeCSS }}" {{ end }} {{ end }}>
    <div class="align-items-{{ $align }} d-flex flex-column justify-content-center {{ if and $float $height }} h-100 {{ end }}" {{ if not $float }} {{ with $style }} style="{{ . | safeCSS }}" {{ end }} {{ end }}>
        {{ if $table }}
            <div class="d-table">
        {{ end }}
        <div>{{ $content }}</div>
        {{ with $caption }}
            <figcaption class="figure-caption mt-{{ $gap }} text-{{ $align }}" {{ if $table }} style="caption-side: bottom; display: table-caption" {{ end }}>{{ . }}</figcaption>
        {{ end }}
        {{ if $table }}
            </div>
        {{ end }}
    </div>
</figure>
