{{ $page := . }}

{{ $copyright := site.Copyright | markdownify }}
{{ $href := "https://github.com/willfaught/paige" }}
{{ $linkcontent := $page.Param "paige.file_link.content" | markdownify }}
{{ $linkurl := $page.Param "paige.file_link.url" }}
{{ $target := partial "paige/target.html" (dict "page" $page "url" $href) }}

{{ if and $linkurl $page.File }}
    {{ $linkurl = printf $linkurl $page.File.Path | safeURL }}
{{ end }}

<footer class="mb-3" id="paige-footer">
    {{ if templates.Exists "partials/paige/footer-first.html" }}
        {{ partial "paige/footer-first.html" . }}
    {{ end }}

    {{ if and $linkcontent $linkurl (not ($page.Param "paige.file_link.disable")) }}
        <p class="text-center" id="paige-file-link">
            <a class="link-secondary" href="{{ $linkurl }}">{{ $linkcontent }}</a>
        </p>
    {{ end }}

    {{ with $copyright }}
        <p class="mb-0 text-center text-secondary" id="paige-copyright">{{ . }}</p>
    {{ end }}

    <p class="mb-0 text-center" id="paige-credit">
        <a class="link-secondary text-decoration-none" href="{{ $href }}" {{ with $target }} target="{{ . }}" {{ end }}>Paige Theme</a>
    </p>

    {{ if templates.Exists "partials/paige/footer-last.html" }}
        {{ partial "paige/footer-last.html" . }}
    {{ end }}
</footer>
