{{ $params := . }}

{{ $page := $params.page }}
{{ $url := $params.url }}

{{ $result := "" }}

{{ with $page.Resources.GetMatch $url }}
    {{ $result = . }}
{{ else }}
    {{ with $page.Resources.Get $url }}
        {{ $result = . }}
    {{ else }}
        {{ with resources.GetMatch $url }}
            {{ $result = . }}
        {{ else }}
            {{ with resources.Get $url }}
                {{ $result = . }}
            {{ else }}
                {{ with resources.GetRemote $url }}
                    {{ $result = . }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if not $result }}
    {{ errorf "invalid resource: %q" $url }}
{{ end }}

{{ return $result }}
