{{ $params := . }}

{{ $name := $params.name }}
{{ $page := $params.page }}

{{ $partial := print "paige/" (printf $name "") }}

{{ $file := print "partials/" $partial }}

{{ $exists := templates.Exists $file }}

{{ if $exists }}
    {{ partial $partial $page }}
{{ end }}

{{ range slice "home" "page" "section" "taxonomy" "term" }}
    {{ $matches := eq $page.Kind . }}
    {{ $partial := print "paige/" (printf $name (print "-" .)) }}

    {{ $file := print "partials/" $partial }}

    {{ $exists := templates.Exists $file }}

    {{ if and $exists $matches }}
        {{ partial $partial $page }}
    {{ end }}
{{ end }}
