{{ $page := . }}

{{ $title := $page.Title }}

{{ if and $page.IsHome (not $title) }}
    {{ $title = site.Title }}
{{ end }}

{{ $title = $title | markdownify | plainify | htmlUnescape }}

{{ $titles := slice $title }}

{{ range .Ancestors }}
    {{ $title := .Title }}

    {{ if and .IsHome (not $title) }}
        {{ $title = site.Title }}
    {{ end }}

    {{ $titles = $titles | append ($title | markdownify | plainify | htmlUnescape) }}
{{ end }}

{{ $title = delimit $titles " · " }}

<head>
    {{ partial "paige/func-include.html" (dict "name" "head-first%s.html" "page" $page) }}
    {{ partial "paige/metas.html" $page }}

    {{ with $title }}
        <title>{{ . }}</title>
    {{ end }}

    {{ partial "paige/links.html" $page }}
    {{ partial "paige/style.html" $page }}
    {{ partial "paige/func-include.html" (dict "name" "head-last%s.html" "page" $page) }}
</head>
