{{ $first := templates.Exists "partials/paige/header-first.html" }}
{{ $last := templates.Exists "partials/paige/header-last.html" }}
{{ $menu := .Site.Menus.main }}

{{ if or $first $last $menu }}
    <header>
        {{ if $first }}
            {{ partial "paige/header-first.html" . }}
        {{ end }}
        {{ if $menu }}
            {{ partial "paige/menu.html" . }}
        {{ end }}
        {{ if $last }}
            {{ partial "paige/header-last.html" . }}
        {{ end }}
    </header>
{{ end }}
