{{ $page := . }}

{{ $titles := slice ($page.Title | markdownify | plainify) }}

{{ range .Ancestors }}
    {{ $titles = $titles | append (.Title | markdownify | plainify) }}
{{ end }}

{{ $title := delimit $titles " · " }}

<head>
    {{ if templates.Exists "partials/paige/head-first.html" }}
        {{ partial "paige/head-first.html" $page }}
    {{ end }}

    {{ partial "paige/metas.html" $page }}

    {{ with $title }}
        <title>{{ . }}</title>
    {{ end }}

    {{ partial "paige/links.html" $page }}
    {{ partial "paige/style.html" $page }}

    {{ if templates.Exists "partials/paige/head-last.html" }}
        {{ partial "paige/head-last.html" $page }}
    {{ end }}
</head>
