{{ $page := . }}

{{ $first := templates.Exists "partials/paige/header-first.html" }}
{{ $last := templates.Exists "partials/paige/header-last.html" }}
{{ $menu := site.Menus.main }}

{{ if or $first $last $menu }}
    <header id="paige-header">
        {{ if $first }}
            {{ partial "paige/header-first.html" $page }}
        {{ end }}

        {{ if $menu }}
            {{ partial "paige/menu.html" $page }}
        {{ end }}

        {{ if $last }}
            {{ partial "paige/header-last.html" $page }}
        {{ end }}
    </header>
{{ end }}
