{{ $page := . }}

{{ if fileExists "static/apple-touch-icon.png" }}
    <link href="{{ relLangURL `apple-touch-icon.png` | safeURL }}" rel="apple-touch-icon" sizes="180x180">
{{ end }}

{{ if fileExists "static/favicon.ico" }}
    <link href="{{ relLangURL `favicon.ico` | safeURL }}" rel="shortcut icon">
{{ end }}

{{ if fileExists "static/favicon.png" }}
    <link href="{{ relLangURL `favicon.png` | safeURL }}" rel="icon" type="image/png">
{{ end }}

{{ if fileExists "static/favicon.svg" }}
    <link href="{{ relLangURL `favicon.svg` | safeURL }}" rel="icon" type="image/svg+xml">
{{ end }}

{{ if fileExists "static/favicon-16x16.png" }}
    <link href="{{ relLangURL `favicon-16x16.png` | safeURL }}" rel="icon" sizes="16x16" type="image/png">
{{ end }}

{{ if fileExists "static/favicon-32x32.png" }}
    <link href="{{ relLangURL `favicon-32x32.png` | safeURL }}" rel="icon" sizes="32x32" type="image/png">
{{ end }}

{{ if fileExists "static/safari-pinned-tab.svg" }}
    <link color="{{ $page.Param `paige.color` | default `#0d6efd` }}" href="{{ relLangURL `safari-pinned-tab.svg` | safeURL }}" rel="mask-icon">
{{ end }}

{{ if fileExists "assets/site.webmanifest" }}
    <link href="{{ (resources.Get `site.webmanifest` | resources.ExecuteAsTemplate `site.webmanifest` .).RelPermalink | safeURL }}" rel="manifest">
{{ end }}

{{ $color := $page.Param "paige.color" | default "#0d6efd" }}
{{ $colorscheme := $page.Param "paige.color_scheme" | default "auto" }}
{{ $context := dict "color" $color "color_scheme" $colorscheme }}

{{ partial "paige/tag-link.html" (dict "href" "css/paige/bootstrap/paige.scss" "page" $page "sass" true "template" true "context" $context) }}
{{ partial "paige/tag-link.html" (dict "href" "css/paige/bootstrap-icons/bootstrap-icons.css" "page" $page) }}

{{ if $page.Param "paige.math" }}
    {{ partial "paige/tag-link.html" (dict "href" "css/paige/katex/katex.min.css") }}
{{ end }}

{{ range $page.AlternativeOutputFormats }}
    {{ printf `<link href="%s" rel="%s" type="%s">` (.Permalink | safeURL) .Rel .MediaType | safeHTML }}
{{ end }}
