{{ $params := . }}

{{ $crossorigin := $params.crossorigin | default "anonymous" }}
{{ $href := $params.href }}
{{ $integrity := $params.integrity }}
{{ $page := $params.page }}
{{ $raw := $params.raw }}
{{ $referrerpolicy := $params.referrerpolicy | default "no-referrer" }}

{{ if $raw }}
    {{ $href = relLangURL $href }}
{{ else }}
    {{ $resource := (partial "paige/func-resource.html" (dict
        "page" $page
        "url" (relLangURL $href)
    )) | minify | fingerprint }}

    {{ $href = $resource.RelPermalink }}
    {{ $integrity = $resource.Data.Integrity }}
{{ end }}

<link {{ with $crossorigin }} crossorigin="{{ . }}" {{ end }} href="{{ $href | safeURL }}" integrity="{{ $integrity }}" {{ with $referrerpolicy }} referrerpolicy="{{ . }}" {{ end }} rel="stylesheet">
