{{ $page := . }}

<meta charset="utf-8">

{{ with partial "paige/authors.html" $page }}
    {{ $authors := slice }}

    {{ range . }}
        {{ $authors = $authors | append .Title }}
    {{ end }}

    <meta content="{{ delimit $authors `, ` }}" name="author">
{{ end }}

{{ with $page.Description }}
    <meta content="{{ . }}" name="description">
{{ end }}

{{ if or $page.Keywords $page.Params.tags $page.Params.categories }}
    <meta content="{{ delimit (sort (union (union $page.Keywords $page.Params.tags) $page.Params.categories)) `, ` }}" name="keywords">
{{ end }}

<meta content="{{ $page.Param `paige.color` | default `#0d6efd` }}" name="msapplication-TileColor">

{{ if fileExists "assets/browserconfig.xml" }}
    <meta content="{{ (resources.Get `browserconfig.xml` | resources.ExecuteAsTemplate `browserconfig.xml` .).RelPermalink }}" name="msapplication-config">
{{ end }}

<meta content="https://github.com/willfaught/paige" name="theme">
<meta content="{{ $page.Param `paige.color` | default `#0d6efd` }}" name="theme-color">
<meta content="width=device-width, initial-scale=1" name="viewport">

{{ template "_internal/opengraph.html" $page }}
{{ template "_internal/twitter_cards.html" $page }}
