{{ $page := . }}

{{ $authors := partial "paige/authors.html" $page }}
{{ $categories := $page.GetTerms "categories" }}
{{ $date := $page.PublishDate }}
{{ $dateformat := $page.Param "paige.date_format" | default ":date_long" }}
{{ $description := $page.Description | markdownify }}
{{ $link := $page.Params.link }}
{{ $readingtime := $page.ReadingTime }}
{{ $series := $page.GetTerms "series" }}
{{ $tags := $page.GetTerms "tags" }}
{{ $textkeywords := eq ($page.Param "paige.keyword_style" | default "text") "text" }}
{{ $title := $page.Title | markdownify }}

<div class="mw-100" id="paige-metadata">
    {{ with $title }}
        <h1 class="fw-bold text-center" id="paige-title">{{ if $link }}<a href="{{ $link }}">{{ . }}</a>{{ else }}{{ . }}{{ end }}</h1>
    {{ end }}

    {{ with $description }}
        <p class="lead text-center" id="paige-description">{{ . }}</p>
    {{ end }}

    {{ if or $authors $categories $date $readingtime $series $tags }}
        <div class="mb-3">
            {{ if or $categories $tags }}
                <p class="{{ if $textkeywords }} mb-0 {{ end }} text-center {{ if $textkeywords }} text-secondary {{ end }}" id="paige-keywords">
                    {{ range $i, $term := sort (append $categories $tags) "Title" -}}
                        {{- if $textkeywords -}}
                            {{- if gt $i 0 }} · {{ end -}}

                            <a class="link-secondary" href="{{ .RelPermalink | safeURL }}">{{ .Title }}</a>
                        {{- else -}}
                            {{- if gt $i 0 }} {{ end -}}

                            <a class="badge paige-keyword text-bg-secondary text-decoration-none" href="{{ .RelPermalink | safeURL }}">{{ .Title }}</a>
                        {{- end -}}
                    {{- end }}
                </p>
            {{ end }}

            {{ with $series }}
                <p class="mb-0 text-center text-secondary" id="paige-series">
                    {{ range $i, $series := . -}}
                        {{- if gt $i 0 }} · {{ end -}}

                        <a class="link-secondary" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    {{- end }}
                </p>
            {{ end }}

            {{ with $authors }}
                <p class="mb-0 text-center text-secondary" id="paige-authors">
                    {{ range $i, $author := . -}}
                        {{- if gt $i 0 }} · {{ end -}}

                        <a class="link-secondary" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    {{- end }}
                </p>
            {{ end }}

            {{ with $date }}
                <p class="mb-0 text-center text-secondary" id="paige-date">
                    <time datetime="{{ .Format `2006-01-02` }}">{{ time.Format $dateformat . }}</time>
                </p>
            {{ end }}

            {{ with $readingtime }}
                <p class="mb-0 text-center text-secondary" id="paige-reading-time">{{ . }} {{ i18n "paige_minutes" . }}</p>
            {{ end }}
        </div>
    {{ end }}
</div>
