{{ $page := . }}

{{ $author := slice }}
{{ $authors := partial "paige/func-authors.html" $page }}
{{ $color := $page.Param `paige.site.color` | default `#0d6efd` }}
{{ $description := $page.Description | markdownify | plainify | htmlUnescape }}
{{ $exists := fileExists "assets/browserconfig.xml" }}
{{ $keywords := partial "paige/func-keywords.html" $page }}

{{ range $authors }}
    {{ $author = $author | append (.Params.paige.author.name | default (.Title | markdownify | plainify | htmlUnescape)) }}
{{ end }}

{{ $author = delimit $author ", " }}

<meta charset="utf-8">

{{ with $author }}
    <meta content="{{ . }}" name="author">
{{ end }}

{{ with $description }}
    <meta content="{{ . }}" name="description">
{{ end }}

{{ with $keywords }}
    <meta content="{{ . }}" name="keywords">
{{ end }}

<meta content="{{ $color }}" name="msapplication-TileColor">

{{ if $exists }}
    {{ $content := (resources.Get `browserconfig.xml` | resources.ExecuteAsTemplate `browserconfig.xml` $page).RelPermalink }}

    <meta content="{{ $content }}" name="msapplication-config">
{{ end }}

<meta content="https://github.com/willfaught/paige" name="theme">
<meta content="{{ $color }}" name="theme-color">
<meta content="width=device-width, initial-scale=1" name="viewport">

{{ template "_internal/opengraph.html" $page }}
{{ template "_internal/twitter_cards.html" $page }}
