{{ $page := . }}

{{ $edit := $page.Param "paige.edit" | and ($page.Param "paige.page.disable_edit" | not) }}
{{ $first := templates.Exists "partials/paige/page-footer-first.html" }}
{{ $history := $page.Param "paige.history" | and ($page.Param "paige.page.disable_history" | not) }}
{{ $last := templates.Exists "partials/paige/page-footer-last.html" }}
{{ $next := $page.NextInSection | and ($page.Param "paige.page.disable_next" | not) }}
{{ $prev := $page.PrevInSection | and ($page.Param "paige.page.disable_prev" | not) }}

{{ if $page.File }}
    {{ if $edit }}
        {{ $edit = printf $edit $page.File.Path }}
    {{ end }}

    {{ if $history }}
        {{ $history = printf $history $page.File.Path }}
    {{ end }}
{{ end }}

{{ if or $edit $history $first $last $next $prev }}
    <footer class="mw-100" id="paige-page-footer">
        {{ if $first }}
            {{ partial "paige/page-footer-first.html" . }}
        {{ end }}

        {{ if or $edit $history }}
            <div id="paige-file">
                {{ with $edit }}
                    <div class="paige-row-narrow text-center text-secondary" id="paige-edit">
                        <a class="link-secondary" href="{{ . | safeURL }}">{{ i18n "paige_edit_this_page" }}</a>
                    </div>
                {{ end }}

                {{ with $history }}
                    <div class="paige-row-narrow text-center text-secondary" id="paige-history">
                        <a class="link-secondary" href="{{ . | safeURL }}">{{ i18n "paige_edit_history" }}</a>
                    </div>
                {{ end }}
            </div>
        {{ end }}

        {{ if or $next $prev }}
            <div id="paige-siblings">
                {{ with $prev }}
                    <div class="paige-row-narrow text-center text-secondary" id="paige-next"><a class="link-secondary" href="{{ .Permalink }}">{{ .Title }}</a> &rsaquo;</div>
                {{ end }}

                {{ with $next }}
                    <div class="paige-row-narrow text-center text-secondary" id="paige-prev">&lsaquo; <a class="link-secondary" href="{{ .Permalink }}">{{ .Title }}</a></div>
                {{ end }}
            </div>
        {{ end }}

        {{ if $last }}
            {{ partial "paige/page-footer-last.html" . }}
        {{ end }}
    </footer>
{{ end }}
