{{ $page := . }}

{{ $collections := cond $page.IsHome site.Taxonomies slice }}
{{ $sections := where $page.Pages "Kind" "section" }}
{{ $pages := where $page.Pages "Kind" "in" (slice "page" "term") }}

{{ with $collections }}
    <div id="paige-collections">
        {{ if or $sections $pages }}
            <h2 class="h4 text-center" id="paige-collections-header">{{ i18n "paige_collections" }}</h2>
        {{ end }}

        {{ range $k, $v := . }}
            {{ partial "paige/page.html" (site.GetPage $k) }}
        {{ end }}
    </div>
{{ end }}

{{ with $sections }}
    <div id="paige-sections">
        {{ if or $collections $pages }}
            <h2 class="h4 text-center" id="paige-sections-header">{{ i18n "paige_sections" }}</h2>
        {{ end }}

        {{ range . }}
            {{ partial "paige/page.html" . }}
        {{ end }}
    </div>
{{ end }}

{{ with $pages }}
    <div id="paige-pages">
        {{ if or $collections $sections }}
            <h2 class="h4 text-center" id="paige-pages-header">{{ i18n "paige_pages" }}</h2>
        {{ end }}

        {{ $pinned := where . "Params.paige.pin" true }}

        {{ range $pinned.ByPublishDate.Reverse }}
            {{ partial "paige/page.html" . }}
        {{ end }}

        {{ $unpinned := complement $pinned . }}
        {{ $pagegroups := $unpinned.GroupByPublishDate "January 2006" }}
        {{ $pager := $page.Paginate $pagegroups }}

        {{ range $pager.PageGroups }}
            <h3 class="h5 paige-date-header text-center">{{ .Key }}</h3>

            {{ range .Pages.ByWeight }}
                {{ partial "paige/page.html" . }}
            {{ end }}
        {{ end }}
    </div>

    {{ if or $pager.HasPrev $pager.HasNext }}
        <div id="paige-pagination">
            <div class="d-flex justify-content-center">
                {{ partial "paige/pagination.html" $page }}
            </div>
        </div>
    {{ end }}
{{ end }}
