{{ $page := . }}

{{ $alert := $page.Param "paige.alert" | and ($page.Param "paige.page.disable_alert" | not) }}
{{ $authors := partial "paige/authors.html" $page | and ($page.Param "paige.page.disable_authors" | not) }}
{{ $categories := $page.GetTerms "categories" }}
{{ $date := and $page.IsPage $page.PublishDate | and ($page.Param "paige.page.disable_date" | not) }}
{{ $dateformat := $page.Param "paige.date_format" | default ":date_long" }}
{{ $description := $page.Description | markdownify | and ($page.Param "paige.page.disable_description" | not) }}
{{ $first := templates.Exists "partials/paige/page-header-first.html" }}
{{ $last := templates.Exists "partials/paige/page-header-last.html" }}
{{ $link := $page.Params.link }}
{{ $readingtime := $page.ReadingTime | and ($page.Param "paige.page.disable_reading_time" | not) }}
{{ $series := $page.GetTerms "series" | and ($page.Param "paige.page.disable_series" | not) }}
{{ $tags := $page.GetTerms "tags" }}
{{ $textkeywords := eq ($page.Param "paige.keyword_style" | default "text") "text" }}
{{ $title := $page.Title | markdownify | and ($page.Param "paige.page.disable_title" | not) }}
{{ $toc := and $page.Content (ne $page.TableOfContents `<nav id="TableOfContents"></nav>`) | and ($page.Param "paige.page.disable_toc" | not) }}

{{ $keywords := sort (append $categories $tags) "Title" | and ($page.Param "paige.page.disable_keywords" | not) }}

{{ if or $alert $authors $date $description $first $keywords $last $readingtime $series $title $toc }}
    <header class="mw-100" id="paige-page-header">
        <div class="align-items-center d-flex flex-column">
            {{ if $first }}
                {{ partial "paige/page-header-first.html" . }}
            {{ end }}

            {{ with $title }}
                <h1 class="fw-bold" id="paige-page-title">{{ if $link }}<a href="{{ $link }}">{{ . }}</a>{{ else }}{{ . }}{{ end }}</h1>
            {{ end }}

            {{ with $description }}
                <p class="lead paige-row-wide" id="paige-page-description">{{ . }}</p>
            {{ end }}

            {{ if or $authors $date $keywords $readingtime $series }}
                <div id="paige-metadata">
                    {{ with $keywords }}
                        <p class="{{ if $textkeywords }} paige-row-narrow {{ end }} text-center {{ if $textkeywords }} text-secondary {{ end }}" id="paige-keywords">
                            {{ range $i, $term := . -}}
                                {{- $kind := false -}}

                                {{- if in $categories $term -}}
                                    {{- $kind = "category" -}}
                                {{- else -}}
                                    {{- $kind = "tag" -}}
                                {{- end -}}

                                {{- if $textkeywords -}}
                                    {{- if gt $i 0 }} · {{ end -}}

                                    <a class="link-secondary paige-keyword paige-keyword-{{ $kind }}" href="{{ .RelPermalink | safeURL }}">{{ .Title }}</a>
                                {{- else -}}
                                    {{- if gt $i 0 }} {{ end -}}

                                    <a class="badge paige-keyword paige-keyword-{{ $kind }} text-bg-secondary text-decoration-none" href="{{ .RelPermalink | safeURL }}">{{ .Title }}</a>
                                {{- end -}}
                            {{- end }}
                        </p>
                    {{ end }}

                    {{ with $series }}
                        <p class="paige-row-narrow text-center text-secondary" id="paige-series">
                            {{ range $i, $series := . -}}
                                {{- if gt $i 0 }} · {{ end -}}

                                <a class="link-secondary" href="{{ .RelPermalink }}">{{ .Title }}</a>
                            {{- end }}
                        </p>
                    {{ end }}

                    {{ with $authors }}
                        <p class="paige-row-narrow text-center text-secondary" id="paige-authors">
                            {{ range $i, $author := . -}}
                                {{- if gt $i 0 }} · {{ end -}}

                                <a class="link-secondary" href="{{ .RelPermalink }}">{{ .Title }}</a>
                            {{- end }}
                        </p>
                    {{ end }}

                    {{ with $date }}
                        <p class="paige-row-narrow text-center text-secondary" id="paige-date">
                            <time datetime="{{ .Format `2006-01-02` }}">{{ time.Format $dateformat . }}</time>
                        </p>
                    {{ end }}

                    {{ with $readingtime }}
                        <p class="paige-row-narrow text-center text-secondary" id="paige-reading-time">{{ . }} {{ i18n "paige_minutes" . }}</p>
                    {{ end }}
                </div>
            {{ end }}

            {{ with $alert }}
                <div class="alert alert-{{ .type }} paige-row-wide" id="paige-alert" role="alert">{{ .message | markdownify }}</div>
            {{ end }}

            {{ if $toc }}
                <div class="paige-row-wide" id="paige-toc">
                    <div class="border pe-3 ps-3 pt-3 rounded">
                        {{ $page.TableOfContents }}
                    </div>
                </div>
            {{ end }}

            {{ if $last }}
                {{ partial "paige/page-header-last.html" . }}
            {{ end }}
        </div>
    </header>
{{ end }}
