{{ $page := . }}

{{ define "pagination" }}
    {{ $params := . }}

    {{ $page := .page }}
    {{ $pager := .pager }}

    {{ if or $pager.HasPrev $pager.HasNext }}
        <div id="paige-pagination">
            <div class="d-flex justify-content-center">
                <nav aria-label="{{ i18n `paige_page_list_navigation` }}">
                    <ul class="pagination">
                        {{ with $page.Paginator }}
                            {{ if and (ne .PageNumber .First.PageNumber) (ne .First.PageNumber .Prev.PageNumber) }}
                                <li class="page-item">
                                    <a aria-label="{{ i18n `paige_first` }}" class="page-link" href="{{ .First.URL }}"><span aria-hidden="true">&#x2B05;</span></a>
                                </li>
                            {{ end }}

                            {{ with .Prev }}
                                <li class="page-item">
                                    <a aria-label="{{ i18n `paige_previous` }}" class="page-link" href="{{ .URL }}"><span aria-hidden="true">&larr;</span></a>
                                </li>
                            {{ end }}

                            {{ with .Next }}
                                <li class="page-item">
                                    <a aria-label="{{ i18n `paige_next` }}" class="page-link" href="{{ .URL }}"><span aria-hidden="true">&rarr;</span></a>
                                </li>
                            {{ end }}

                            {{ if and (ne .PageNumber .Last.PageNumber) (ne .Last.PageNumber .Next.PageNumber) }}
                                <li class="page-item">
                                    <a aria-label="{{ i18n `paige_last` }}" class="page-link" href="{{ .Last.URL }}"><span aria-hidden="true">&#x27A1;</span></a>
                                </li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </nav>
            </div>
        </div>
    {{ end }}
{{ end }}

{{ $collections := slice }}
{{ $pages := $page.RegularPages }}
{{ $sections := $page.Sections }}

{{ if $page.IsHome }}
    {{ range $name, $taxonomy := site.Taxonomies }}
        {{ if $taxonomy.Page }}
            {{ $collections = $collections | append $taxonomy.Page }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if and (not $pages) (in (slice "taxonomy" "term") $page.Kind) }}
    {{ $pages = $page.Pages }}
{{ end }}

{{ with $collections }}
    {{ $ordered := slice }}

    {{ range (.GroupBy "Weight").Reverse }}
        {{ range (sort (.Pages.GroupBy "PublishDate") "Key").Reverse }}
            {{ range .Pages.ByTitle }}
                {{ $ordered = $ordered | append . }}
            {{ end }}
        {{ end }}
    {{ end }}

    <div id="paige-collections">
        {{ if or $sections $pages }}
            <h2 class="h5 text-center" id="paige-collections-header">{{ i18n "paige_collections" }}</h2>
        {{ end }}

        {{ if or $sections $pages }}
            {{ range $ordered }}
                {{ partial "paige/page.html" . }}
            {{ end }}
        {{ else }}
            {{ $pager := $page.Paginate $ordered }}

            {{ range $pager.Pages }}
                {{ partial "paige/page.html" . }}
            {{ end }}

            {{ template "pagination" (dict "page" $page "pager" $pager) }}
        {{ end }}
    </div>
{{ end }}

{{ with $sections }}
    {{ $ordered := slice }}

    {{ range (.GroupBy "Weight").Reverse }}
        {{ range (sort (.Pages.GroupBy "PublishDate") "Key").Reverse }}
            {{ range .Pages.ByTitle }}
                {{ $ordered = $ordered | append . }}
            {{ end }}
        {{ end }}
    {{ end }}

    <div id="paige-sections">
        {{ if or $collections $pages }}
            <h2 class="h5 text-center" id="paige-sections-header">{{ i18n "paige_sections" }}</h2>
        {{ end }}

        {{ if $pages }}
            {{ range $ordered }}
                {{ partial "paige/page.html" . }}
            {{ end }}
        {{ else }}
            {{ $pager := $page.Paginate $ordered }}

            {{ range $pager.Pages }}
                {{ partial "paige/page.html" . }}
            {{ end }}

            {{ template "pagination" (dict "page" $page "pager" $pager) }}
        {{ end }}
    </div>
{{ end }}

{{ with $pages }}
    {{ $ordered := slice }}

    {{ range ($pages.GroupBy "Weight").Reverse }}
        {{ range (sort (.Pages.GroupBy "PublishDate") "Key").Reverse }}
            {{ range .Pages.ByTitle }}
                {{ $ordered = $ordered | append . }}
            {{ end }}
        {{ end }}
    {{ end }}

    <div id="paige-pages">
        {{ if or $collections $sections }}
            <h2 class="h5 text-center" id="paige-pages-header">{{ i18n "paige_pages" }}</h2>
        {{ end }}

        {{ $pager := $page.Paginate $ordered }}

        {{ range $pager.Pages }}
            {{ partial "paige/page.html" . }}
        {{ end }}

        {{ template "pagination" (dict "page" $page "pager" $pager) }}
    </div>
{{ end }}
