{{ $page := . }}

{{ $class := slice }}
{{ $content := $page.Content | replaceRE `(<h[1-6] id="([^"]+)".+)(</h[1-6]+>)` (printf `${1}<a aria-label="%s" class="paige-header-link" href="#${2}"></a>${3}` (i18n "paige_aria_section_link")) }}
{{ $draft := $page.Draft }}
{{ $expired := and $page.ExpiryDate (lt $page.ExpiryDate now) }}
{{ $future := and $page.PublishDate (gt $page.PublishDate now) }}
{{ $modified := and $page.PublishDate $page.Lastmod (lt $page.PublishDate $page.Lastmod) }}

{{ if $draft }}
    {{ $class = $class | append "paige-draft" "paige-unpublished" }}
{{ end }}

{{ if $expired }}
    {{ $class = $class | append "paige-expired" "paige-unpublished" }}
{{ end }}

{{ if $future }}
    {{ $class = $class | append "paige-future" "paige-unpublished" }}
{{ end }}

{{ if $modified }}
    {{ $class = $class | append "paige-modified" }}
{{ end }}

{{ if not (or $draft $expired $future) }}
    {{ $class = $class | append "paige-published" }}
{{ end }}

{{ with $page.Kind }}
    {{ if eq . "home" }}
        {{ $class = $class | append "paige-kind-home" }}
    {{ else if eq . "section" }}
        {{ $class = $class | append "paige-kind-section" }}
    {{ else if eq . "page" }}
        {{ $class = $class | append "paige-kind-page" }}
    {{ else if eq . "taxonomy" }}
        {{ $class = $class | append "paige-kind-taxonomy" }}
    {{ else if eq . "term" }}
        {{ $class = $class | append "paige-kind-term" }}
    {{ end }}
{{ end }}

{{ $class = delimit ($class | uniq | sort) " " }}

<article class="{{ $class }}" id="paige-page">
    <div class="align-items-center d-flex flex-column">
        {{ partial "paige/page-header.html" $page }}

        {{ with $content }}
            <main class="mw-100" id="paige-content">{{ . | safeHTML }}</main>
        {{ end }}

        {{ partial "paige/page-footer.html" $page }}
    </div>
</article>
