{{ $page := . }}

{{ partial "paige/tag-script.html" (dict "page" $page "src" "js/paige/bootstrap/bootstrap.bundle.js") }}

{{ if $page.Param "paige.math" }}
    {{ partial "paige/tag-script.html" (dict "page" $page "src" "js/paige/katex/katex.min.js") }}
    {{ partial "paige/tag-script.html" (dict "onload" "renderMathInElement(document.body);" "page" $page "src" "js/paige/katex/auto-render.min.js") }}
{{ end }}

{{ partial "paige/analytics.html" $page }}
<noscript>{{ i18n "paige_noscript" }}</noscript>
