{{ $page := . }}

{{ $copyright := $page.Param "paige.copyright" | default site.Copyright | markdownify | and ($page.Param "paige.site.disable_copyright" | not) }}
{{ $credit := $page.Param "paige.credit" }}
{{ $first := templates.Exists "partials/paige/footer-first.html" }}
{{ $last := templates.Exists "partials/paige/footer-last.html" }}
{{ $license := $page.Param "paige.license" | markdownify | and ($page.Param "paige.site.disable_license" | not) }}
{{ $microdata := $page.Params.paige.page.microdata }}

{{ if $credit }}
    {{ $credit = markdownify $credit }}
{{ else }}
    {{ $credit = `<a class="link-secondary text-decoration-none" href="https://github.com/willfaught/paige" target="_blank">Paige Theme</a>` | safeHTML }}
{{ end }}

{{ $credit = $credit | and ($page.Param "paige.site.disable_credit" | not) }}

{{ if or $copyright $credit $first $last $license }}
    <footer id="paige-site-footer">
        {{ if $first }}
            {{ partial "paige/site-footer-first.html" . }}
        {{ end }}

        {{ with $copyright }}
            <p class="paige-row-short text-center text-secondary" id="paige-copyright" {{ if $microdata }} itemprop="copyrightNotice" {{ end }}>{{ . }}</p>
        {{ end }}

        {{ with $license }}
            <p class="paige-row-short text-center text-secondary" id="paige-license">{{ . }}</p>
        {{ end }}

        {{ with $credit }}
            <p class="paige-row-short text-center text-secondary" id="paige-credit">{{ . }}</p>
        {{ end }}

        {{ if $last }}
            {{ partial "paige/site-footer-last.html" . }}
        {{ end }}
    </footer>
{{ end }}
