{{ $page := . }}

{{ $description := $page.Param "paige.site_description" }}
{{ $title := $page.Param "paige.site_title" }}

{{ if or $page.Ancestors site.Menus.main }}
    <header class="mt-3" id="paige-header">
        {{ if templates.Exists "partials/paige/header-first.html" }}
            {{ partial "paige/header-first.html" $page }}
        {{ end }}

        {{ if or $description $title }}
            <div class="mb-3 text-center" id="paige-site-header">
                {{ with $title }}
                    <p class="display-1 fw-bold mb-2" id="paige-site-title">{{ . | markdownify }}</p>
                {{ end }}

                {{ with $description }}
                    <p class="lead" id="paige-site-description">{{ . | markdownify }}</p>
                {{ end }}
            </div>
        {{ end }}

        {{ partial "paige/menu.html" $page }}
        {{ partial "paige/breadcrumbs.html" . }}

        {{ if templates.Exists "partials/paige/header-last.html" }}
            {{ partial "paige/header-last.html" $page }}
        {{ end }}
    </header>
{{ end }}
