<style>
body, html {
    height: 100%;
}

section[class="paige-content"] {
    max-width: 100%;
}

section[class="paige-content"] > blockquote {
    padding: 0.5rem 1rem;
    border-left: 0.25rem solid var(--bs-border-color);
    padding-right: 0.25rem;
}

section[class="paige-content"] > blockquote p:last-of-type {
    margin-bottom: 0;
}

h1:hover .paige-header-link, h2:hover .paige-header-link, h3:hover .paige-header-link, h4:hover .paige-header-link, h5:hover .paige-header-link, h6:hover .paige-header-link {
    display: inline;
}

section[class="paige-content"] > div {
    margin-bottom: 1rem;
}

{{ with .Site.Params.paige.content_max_width }}
    section[class="paige-content"], section[class="paige-toc"] {
        max-width: {{ . }};
    }
{{ end }}

{{ with .Site.Params.paige.metadata_max_width }}
    section[class="paige-metadata"] {
        max-width: {{ . }};
    }
{{ end }}

.highlight .chroma pre {
    margin-bottom: 0;
}

.highlight .chroma .lnt,
.highlight .chroma .hl {
    display: flex;
}

.paige-figure > div > div[class="highlight"] > pre, .paige-figure > div > :last-child {
    margin-bottom: 0;
}

.paige-font-inherit {
    font-family: inherit;
    font-size: inherit;
}

.paige-header-link {
    margin-left: 0.5ch;
    opacity: 0;
    position: absolute;
    text-decoration: none;
    transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .paige-header-link {
        transition: none;
    }
}

.paige-header-link:focus, .paige-header-link:hover, :hover > .paige-header-link, :target > .paige-header-link {
    opacity: 1;
}

{{ with .Site.Params.paige.color_scheme }}
    {{ if eq . "dark" }}
        {{ partial "paige/dark.css" . | safeCSS }}
    {{ else if eq . "light" }}
        {{ partial "paige/light.css" . | safeCSS }}
    {{ end }}
{{ else }}
    @media (prefers-color-scheme: dark) {
        {{ partial "paige/dark.css" . | safeCSS }}
    }

    @media (prefers-color-scheme: light) {
        {{ partial "paige/light.css" . | safeCSS }}
    }
{{ end }}
</style>
