<style>
body, html {
    height: 100%;
}

blockquote {
    padding: 0.5rem 1rem;
    border-left: 0.25rem solid #e9ecef;
    border-right: 0.25rem solid white;
}

blockquote p:last-of-type {
    margin-bottom: 0;
}

h1:hover .paige-header-link, h2:hover .paige-header-link, h3:hover .paige-header-link, h4:hover .paige-header-link, h5:hover .paige-header-link, h6:hover .paige-header-link {
    display: inline;
}

section[class="paige-content"] > div {
    margin-bottom: 1rem;
}

{{ with .Site.Params.paige.content_max_width }}
section[class="paige-content"], section[class="paige-toc"] {
    max-width: {{ . }};
}
{{ end }}

{{ with .Site.Params.paige.metadata_max_width }}
section[class="paige-metadata"] {
    max-width: {{ . }};
}
{{ end }}

.paige-header-link {
    display: none;
    margin-left: 0.5ch;
    position: absolute;
}
</style>
