{{ $page := . }}

<!doctype html>
{{ partial "paige/tag-html.html" $page }}
    {{ partial "paige/tag-head.html" $page }}
    {{ partial "paige/tag-body.html" $page }}
        {{ if templates.Exists "partials/paige/body-first.html" }}
            {{ partial "paige/body-first.html" $page }}
        {{ end }}

        <div class="container">
            <div class="row">
                <div class="col mt-3" id="paige-site">
                    {{ if templates.Exists "partials/paige/site-first.html" }}
                        {{ partial "paige/site-first.html" $page }}
                    {{ end }}

                    {{ partial "paige/site-header.html" $page }}
                    {{ block "main" $page }}{{ end }}
                    {{ partial "paige/site-footer.html" $page }}

                    {{ if templates.Exists "partials/paige/site-last.html" }}
                        {{ partial "paige/site-last.html" $page }}
                    {{ end }}
                </div>
            </div>
        </div>

        {{ partial "paige/scripts.html" $page }}

        {{ if templates.Exists "partials/paige/body-last.html" }}
            {{ partial "paige/body-last.html" $page }}
        {{ end }}
    </body>
</html>
