{{ define "main" }}
{{ $page := . }}

<article>
    {{ partial "paige/metadata.html" $page }}
    <section>
        {{ if $page.Param "paige.home.image_url" }}
            {{ $class := cond ($page.Param "paige.home.image_stretch" | not) "mw-100 rounded-4 shadow" "rounded-4 shadow w-100" }}
            {{ $style := cond ($page.Param "paige.home.image_stretch" | not) "height: 20rem" "height: 20rem; object-fit: cover" }}

            <p {{ if not ($page.Param "paige.home.image_stretch") }} class="text-center" {{ end }}>
                {{ partial "paige/img.html" (dict
                    "class" $class
                    "fetchpriority" "high"
                    "loading" "eager"
                    "raw" ($page.Param "paige.home.image_raw")
                    "src" ($page.Param "paige.home.image_url")
                    "style" $style
                ) }}
            </p>
        {{ end }}
        {{ with $page.Param "paige.home.greeting" }}
            <p class="display-5 fw-bold h2 text-center">{{ . | markdownify }}</p>
        {{ end }}
        {{ with $page.Param "paige.home.blurb" }}
            <div class="container-fluid">
                <div class="justify-content-center row">
                    <div class="col col-auto col-lg-7 px-0">
                        <p class="lead text-center">{{ . | markdownify }}</p>
                    </div>
                </div>
            </div>
        {{ end }}
    </section>
    {{ partial "paige/toc.html" $page }}
    {{ partial "paige/content.html" $page }}
    {{ partial "paige/social.html" $page }}
</article>
{{ end }}
