{{ define "main" }}
{{ $page := . }}

<article>
    {{ partial "paige/metadata.html" $page }}
    <section>
        {{ if $page.Params.image_url }}
            {{ $class := cond $page.Params.image_stretch "rounded-4 shadow w-100" "mw-100 rounded-4 shadow" }}
            {{ $style := cond $page.Params.image_stretch "height: 20rem; object-fit: cover" "height: 20rem" }}

            <p {{ if not $page.Params.image_stretch }} class="text-center" {{ end }}>
                {{ partial "paige/img.html" (dict
                    "class" $class
                    "fetchpriority" "high"
                    "loading" "eager"
                    "raw" $page.Params.image_raw
                    "src" $page.Params.image_url
                    "style" $style
                ) }}
            </p>
        {{ end }}
        {{ with $page.Params.greeting }}
            <p class="display-5 fw-bold h2 text-center">{{ . | markdownify }}</p>
        {{ end }}
        {{ with $page.Params.blurb }}
            <div class="container-fluid">
                <div class="justify-content-center row">
                    <div class="col col-auto col-lg-7 px-0">
                        <p class="lead text-center">{{ . | markdownify }}</p>
                    </div>
                </div>
            </div>
        {{ end }}
    </section>
    {{ partial "paige/toc.html" $page }}
    {{ partial "paige/content.html" $page }}
    {{ partial "paige/social.html" $page }}
</article>
{{ end }}
