{{ define "main" }}
<article>
    {{ partial "paige/metadata.html" . }}
    <section>
        {{ with .Params.stretch_url }}
        <p>
            {{ partial "paige/img.html" (dict
                "class" "mw-100 rounded-4 shadow"
                "fetchpriority" "high"
                "loading" "eager"
                "src" .
                "style" "height: 20rem; object-fit: cover; width: 100%"
            ) }}
        </p>
        {{ end }}
        {{ with .Params.center_url }}
        <p class="text-center">
            {{ partial "paige/img.html" (dict
                "class" "mw-100 rounded-4 shadow"
                "fetchpriority" "high"
                "loading" "eager"
                "src" .
                "style" "height: 20rem"
            ) }}
        </p>
        {{ end }}
        {{ with .Params.greeting }}
        <p class="display-5 fw-bold h2 text-center">{{ . | markdownify }}</p>
        {{ end }}
        {{ with .Params.blurb }}
        <div class="container-fluid">
            <div class="justify-content-center row">
                <div class="col col-auto col-lg-7 px-0">
                    <p class="lead text-center">{{ . | markdownify }}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </section>
    {{ partial "paige/toc.html" . }}
    {{ partial "paige/content.html" . }}
    {{ partial "paige/social.html" . }}
</article>
{{ end }}
