{{ define "main" }}
{{ if not (or .Title .Description .PublishDate .Content) }}
<section>
    <h1 class="display-5 fw-bold text-center">Nothing Here</h1>
</section>
{{ else }}
<article>
    {{ if or .Title .Description .PublishDate }}
    <header>
        <div class="justify-content-center row">
            <div class="col col-auto text-center">
                <div style="max-width:100ch">
                    {{ if .Title }}
                    <h1 class="display-5 fw-bold">
                        {{ if .Params.link }}
                        <a href="{{ .Params.link }}">{{ .Title | markdownify }}</a>
                        {{ else }}
                        {{ .Title | markdownify }}
                        {{ end }}
                    </h1>
                    {{ end }}
                    {{ if .Description }}
                    <p class="lead">{{ .Description | markdownify }}</p>
                    {{ end }}
                    {{ if .PublishDate }}
                    <p class="text-muted"><time datetime="{{ .PublishDate.Format `2006-01-02` }}">{{ .PublishDate.Format "January 2, 2006" }}</time></p>
                    {{ end }}
                </div>
            </div>
        </div>
    </header>
    {{ end }}
    {{ if .Content }}
    <div class="justify-content-center row">
        <div class="col col-auto">
            <div style="max-width:66ch">
                {{ .Content }}
            </div>
        </div>
    </div>
    {{ end }}
</article>
{{ end }}
{{ end }}
