{{ define "main" }}
<section>
    <header>
        <div class="row text-center justify-content-center">
            <div class="col">
                <h1 class="display-5 fw-bold">
                    {{ .Title }}
                </h1>
            </div>
        </div>
    </header>
    {{ $p := .Paginate (.Pages.ByDate.Reverse.GroupByDate "January 2006") }}
    <section>
        <div class="row">
            <div class="col">
                <div class="mx-auto text-center">
                    {{ range $p.PageGroups }}
                    <h5>{{ .Key }}</h5>
                    {{ range .Pages }}
                    <p>
                        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
                        {{- if .Description -}}
                        <br/>
                        {{- .Description | markdownify -}}
                        {{- end -}}
                    </p>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
</section>
{{ end }}
