<meta charset="utf-8">
{{ with .Site.Author.name }}
<meta content="{{ . }}" name="author">
{{ end }}
{{ with .Description }}
<meta content="{{ . }}" name="description">
{{ end }}
{{ if or .Keywords .Params.tags .Params.categories }}
<meta content="{{ delimit (sort (union (union .Keywords .Params.tags) .Params.categories)) `, ` }}" name="keywords">
{{ end }}
<meta content="width=device-width, initial-scale=1" name="viewport">
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
