<style>
    article > div {
        margin-bottom: 1rem;
    }

    blockquote {
        padding: 0.5rem 1rem;
        border-left: 0.25rem solid #e9ecef;
        border-right: 0.25rem solid white;
    }

    blockquote p:last-of-type {
        margin-bottom: 0;
    }

    h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink {
        display: inline;
    }

    .headerlink {
        display: none;
        margin-left: 0.25rem;
    }
</style>
