<style>
    article > div {
        margin-bottom: 1rem;
    }

    body, html {
        height: 100%;
    }

    blockquote {
        padding: 0.5rem 1rem;
        border-left: 0.25rem solid #e9ecef;
        border-right: 0.25rem solid white;
    }

    blockquote p:last-of-type {
        margin-bottom: 0;
    }

    h1:hover .paigeheaderlink, h2:hover .paigeheaderlink, h3:hover .paigeheaderlink, h4:hover .paigeheaderlink, h5:hover .paigeheaderlink, h6:hover .paigeheaderlink {
        display: inline;
    }

    .paigeheaderlink {
        display: none;
        margin-left: 0.3rem;
    }
</style>
