{{ with .Site.Params.paige.social }}
<section>
    <nav>
        <div class="mb-3 text-center">
            {{ range $k, $v := . }}
            {{ if hasPrefix $v.link "mailto:" }}
            <a href="#" data-a="{{ base64Encode (index (split $v.link `@`) 0) }}" data-b="{{ base64Encode `@` }}" data-c="{{ base64Encode (index (split $v.link `@`) 1) }}" onclick="this.href = atob(this.dataset.a) + atob(this.dataset.b) + atob(this.dataset.c)"><i class="bi bi-{{ $v.icon }} display-6 mx-2"><span class="visually-hidden">{{ $v.name }}</span></i></a>
            {{ else }}
            <a href="{{ $v.link }}"><i class="bi bi-{{ $v.icon }} display-6 mx-2"><span class="visually-hidden">{{ $v.name }}</span></i></a>
            {{ end }}
            {{ end }}
        </div>
    </nav>
</section>
{{ end }}
