{{ $page := . }}

{{ with $page.Param "paige.comments.hyvor" }}
    <div class="mb-3" id="paige-comments">
        <div id="hyvor-talk-view"></div>
        <script type="text/javascript">
        var HYVOR_TALK_WEBSITE = "{{ .website | safeJS }}";
        var HYVOR_TALK_CONFIG = {
            url: false,
            id: "{{ $page.RelPermalink | safeJS }}"
        };
        </script>
        <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
        <noscript>{{ i18n "paige_noscript" }}</noscript>
    </div>
{{ end }}
