{{ $page := . }}

{{ with $page.Param "paige.comments.muut" }}
    {{ $href := printf "https://muut.com/i/%s/comments" .account_id }}
    {{ $target := partial "paige/target.html" (dict "page" $page "url" $href) }}

    <div class="mb-3" id="paige-comments">
        <a href="{{ $href }}" class="muut" type="dynamic" {{ with $target }} target="{{ . }}" {{ end }}>Comments</a>
        <script src="https://cdn.muut.com/1/moot.min.js"></script>
        <noscript>{{ i18n "paige_noscript" }}</noscript>
    </div>
{{ end }}
